.home_container {
    // width: 90%;
    margin: 0 auto;
    // height: 100vh;
    
    .top_wrapper {
        width:100%;
        // height: 60vh;
        // background-color: rgb(2, 2, 2);
        // background-image: url("../../Static/Images/pexels_edited_6033812.jpg");
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner_top {
        // width:50%;
        // height:50%;
        // background-color: rgba(245, 230, 230, 0.7);

    }

    .bottom_wrapper {
        // width: 100%;
        // height: 40vh;
        // background-color: rgb(193, 215, 223);
    }

    .inner_bottom {
        // width: 100%;
        // height: 40vh;
        // background-color: rgba(245, 230, 230, 0.7);

    }



}